<ion-header>
  <ion-toolbar>
    <ion-title size>Sistem Yazılım Firma Listesi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--ionic de list döndürmek istersem bu tag eklenmelidir.-->
  <ion-list>
    <!--ionic de liste başlığı eklemek isterse buna ulaşacaktır. -->
    <ion-list-header>
      <!-- Sistem Yazılım Firma Listesi -->
    </ion-list-header>
    <ion-item>Chai1</ion-item>
    <ion-item>Chai2</ion-item>
    <ion-item>Chai3</ion-item>
    <ion-item>Chai4</ion-item>
    <ion-item>Chai5</ion-item>

  </ion-list>
</ion-content>